@{
    ViewData["Title"] = "Home Page";
}

<div >
    <h2 style="font-size:60px;text-align:center;
                padding:20px;
                " class="shadow mt-4">
        I follow you, cuz I'm the Shadow
    </h2>
</div>
